/**
 * Kabbage Doge Client
 * Header Component Styles
 * Written by Sam Reaves
 * October 18, 2017
 * https://github.com/samreaves/kabbage-doge
 */

/* Header Component Stylus Constants */
$open-sans = 'Open Sans', sans-serif

/* Header Component Styles */
.header
  background: #000
  height: 200px
  width: auto

h2.temperature-label
  font-family: $open-sans
  margin: 0
