/**
 * Kabbage Doge Client
 * App Styles
 * Written by Sam Reaves
 * October 18, 2017
 * https://github.com/samreaves/kabbage-doge
 */

html
  padding: 0

body
  font: normal normal bold 20px helvetica
  margin: 0
  text-align: center

.container
  padding-top: 20px
